<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mieszarka Synonimów</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<form class="mix-form" action="{{ base_url() }}/" method="POST">
    <label for="">
        <p>Wpisz tekst który ma zostać wymieszany ( wzór: {Ala|Ola} ma {kota|psa|kune|dzika|jenota} )</p>
        <textarea name="text" id="text" cols="30" rows="10">{{ originalText }}</textarea>
    </label>
    <label for="">
        <input type="submit" value="Mieszaj">
    </label>
</form>

{% for item in text %}
    <p>{{ item }}</p>
{% endfor %}

</body>
</html>